# Deployment used by `bunx convex dev`
CONVEX_DEPLOYMENT=<> # team: <>, project: <>

NEXT_PUBLIC_CONVEX_URL=<>

NEXT_PUBLIC_CONVEX_SITE_URL=<>

# Your local site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
